# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
Thumbs.db
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

debug/
.idea/
nbproject

postgres_data/
.env
.env.local
docker-compose.yml

*.sql

service.*